@import url('https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@400;700&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Kumbh Sans', sans-serif;
    font-size: 1.125rem;
    color: hsl(229, 23%, 23%);
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: url(./images/bg-pattern-top.svg) no-repeat, url(./images/bg-pattern-bottom.svg) no-repeat, hsl(185, 75%, 39%);
    /* background-size: 1000px, 1000px; */
    background-position-x: calc(50% - 450px), calc(50% + 425px);
    background-position-y: calc(50% - 450px), calc(50% + 450px);
}

.card {
    width: 20.3125rem;
    height: 23.4375rem;
    background: url(./images/bg-pattern-card.svg) no-repeat, #ffffff;
    background-position: top;
    border-radius: 1rem;
}

.card__person {
    width: 100%;
    height: 17.8125rem;
    border-bottom: 1px solid hsl(0, 0%, 89%);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    padding-top: 4.3rem;
}

.card__img {
    width: 6.875rem;
    height: 6.875rem;
    background: url(./images/image-victor.jpg) no-repeat;
    background-size: contain;
    border-radius: 50%;
    border: 5px solid #ffffff;
}

.card__name h1 {
    font-size: 1.125rem;
    font-weight: 700;
    padding-top: 1.4375rem;
}

.card__name h1 span {
    color: hsl(0, 0%, 59%);
    font-weight: 400;
}

.card__name h2 {
    font-size: 0.875rem;
    font-weight: 400;
    color: hsl(0, 0%, 59%);
    padding-top: 0.75rem;
}

.social {
    height: 5.625rem;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.social__numbers {
    font-weight: 700;
}

.social__types {
    font-weight: 400;
    color: hsl(0, 0%, 59%);
    font-size: 0.625rem;
}

.social__item {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    line-height: 1.5;
    font-weight: 700;
}

.social__types {
    font-size: 0.75rem;
    font-weight: 400;
}

.attribution {
    position: absolute;
    left: 50%;
    bottom: 0;
    font-size: 11px;
    text-align: center;
    transform: translate(-50%, 0);
    width: 70%;
}

.attribution a {
    color: hsl(228, 45%, 44%);
}

@media screen and (min-width: 900px) {
    .card {
        width: 21.875rem;
    }
}